@import './component-layout.css';

/* 아코디언 컴포넌트 */
.accrodion-list {
  --line-gray: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  border-block-start: 0.0625rem solid var(--line-gray);

  > li {
    border-block-end: 0.0625rem solid var(--line-gray);
    font-weight: 500;
  }
}

.btn-arrow {
  position: relative;
  inline-size: 100%;
  padding-inline-end: 28px;
  padding-block: 1.25rem;
  text-align: left;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../../assets/images/arrow-down.svg');
    background-size: cover;
    transition: transform 0.3s ease;
  }

  &[aria-expanded='true']::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.detail-accrodion {
  display: none;
  padding-block-end: 1.25rem;
}
