/* 상품 상세 */
.product-detail-wrapper {
  @media (width >= 40rem) {
    margin: 0 1.5rem;
    display: block;
  }

  @media (width >= 60rem) {
    /* margin: 0 3rem; */
    display: grid;
    grid-template-columns: repeat(2, minmax(385px, 1fr));
    gap: 1.875rem;
    font-size: 0.875rem;
    align-items: start;
  }

  @media (width >= 80rem) {
    gap: 4.6875rem;
  }

  .product-detail-thumbnail-box {
    @media (width >= 40rem) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      column-gap: 1rem;
    }

    @media (width >= 80rem) {
      justify-content: right;
    }

    .product-info-box {
      margin-inline: 1.5rem;
    }

    .image-carousel {
      display: none;

      @media (width >= 40rem) {
        display: block;
        align-self: flex-start;
      }
    }
  }

  .product-detail-info-box {
    margin-top: 0.1875rem;

    @media (width >= 40rem) {
      margin-top: 2.5rem;
      inline-size: 100%;
    }

    @media (width >= 60rem) {
      margin-top: 0;
    }

    @media (width >= 80rem) {
      inline-size: 21.6875rem;
      display: flex;
      flex-flow: column nowrap;
      row-gap: 1.25rem;
    }

    .product-info-box {
      @media (width >= 40rem) {
        display: flex;
        align-items: center;
        column-gap: 25px;
        margin-inline: 0;
      }

      @media (width >= 60rem) {
        display: block;
      }

      .pro-title {
        @media (width >= 40rem) {
          margin-right: auto;
        }
      }

      .pro-price {
        @media (width >= 40rem) {
          margin-block: 0;
        }

        @media (width >= 60rem) {
          margin-top: 0.75rem;
          margin-bottom: 1.5rem;
        }
      }
    }

    .product-detail-info {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 1.25rem;

      .product-detail-accordion-wrapper,
      .text-link-button,
      .dot-list,
      .gray-box + p,
      .gray-box,
      .product-size-box {
        margin-inline: 1.5rem;

        @media (width >= 40rem) {
          margin-inline: 0;
        }
      }

      .product-btn-box {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.625rem;
        margin-inline: 1.5rem;

        @media (width >= 40rem) {
          margin-inline: 0;
        }
      }

      .dot-list {
        li::before {
          top: 0.5625rem;
        }
      }

      .text-link-button {
        align-self: flex-start;
      }
    }
  }

  .recommend-product-wrapper {
    margin-inline: 1.5rem;
    margin-block-start: 1.875rem;

    @media (width >= 40rem) {
      margin-inline: 0;
    }

    @media (width >= 60rem) {
      grid-column-end: span 2;
    }

    .rec-list-slide {
      text-align: right;
    }
  }
}
