<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Components</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="./style/buttons.css" />
  </head>
  <body>
    <!-- Default Fill Button  -->
    <h2>지우기</h2>
    <div>
      <button class="button full square" type="button">지우기</button>
    </div>
    <br />
    <!-- Fill Button -->
    <h2>장바구니</h2>
    <div>
      <button class="button fill small" type="button">장바구니</button>
    </div>
    
    <!-- 장바구니에 추가 버튼 -->
    <h2>장바구니에 추가</h2>
    <div>
      <button class="shopping-cart" type="button" aria-label="장바구니">장바구니에 추가</button>
    </div>

    <!-- 수정 버튼 -->
    <h2>수정</h2>
    <div>
      <button class="edit" type="button" aria-label="수정">수정</button>
    </div>

    <!-- 검정 배경 사용하고 싶을때 Class명에 fill -->
    <!-- 부모 크기 만큼 사용하고 싶을때 Class명에 full -->
    <!-- 글자 크기 만큼 사용하고 싶을때 Class명에 small -->
    <!-- 네모난 버튼 사용하고 싶을때 Class명에 square -->

    <!-- 아이콘 있는 버튼 -->
    <button type="button" class="button icon-right full">아이콘버튼<span class="icon-heart"></span></button>
    <br />
  </body>
</html>
