<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Components</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="./style/buttons.css" />
  </head>
  <body>
    <!-- Default Fill Button  -->
    <h2>지우기</h2>
    <div>
      <button class="button full square" type="button">지우기</button>
    </div>
    <br />
    <!-- Fill Button -->
    <h2>장바구니</h2>
    <div>
      <button class="button fill small" type="button">장바구니</button>
    </div>
    
    <!-- 장바구니에 추가 버튼 -->
    <h2>장바구니에 추가</h2>
    <div>
      <button class="shopping-cart" type="button" aria-label="장바구니">장바구니에 추가</button>
    </div>

    <!-- 수정 버튼 -->
    <h2>수정</h2>
    <div>
      <button class="edit" type="button" aria-label="수정">수정</button>
    </div>

    <!-- 검정 배경 사용하고 싶을때 Class명에 fill -->
    <!-- 부모 크기 만큼 사용하고 싶을때 Class명에 full -->
    <!-- 글자 크기 만큼 사용하고 싶을때 Class명에 small -->
    <!-- 네모난 버튼 사용하고 싶을때 Class명에 square -->

    <!-- 아이콘이 오른쪽에 있는 버튼 : Class명에 icon-right, 자식요소에 background 이미지 추가-->
    <button type="button" class="button icon-right full">오른쪽아이콘버튼<span class="icon-heart"></span></button>
    <br />
    <!-- 아이콘이 왼쪽에 있는 버튼 : Class명에 icon-right, 자식요소에 background 이미지 추가-->
    <button type="button" class="button icon-left full"><span class="icon-star"></span>왼쪽아이콘버튼</button>
    <br />
    <!-- 사각형 둥근 모서리 버튼(모서리 크기 : 4px, Class명에 radius-size-4) -->
    <button class="button small square rad ius-size-4" type="button">사각형둥근모서리버튼</button>
    <br />
    <br />
    <!-- text link -->
    <a href="/" class="text-link-button" target="_self">상품 상세 정보 보기 </a>
    <br />
    <br />
    <!-- 둥근 버튼, Class명에 circle, 기본값 배경색 흰색(gray 색상 ), 이미지에 맞춰서 클래스 추가(arrow-right 클래스는 샘플로 넣으거라 삭제요청), 대체텍스트도 이미지 용도에 맞춰서 적어주세요 -->
    <button type="button" class="button circle arrow-left"><span class="sr-only">이전 버튼</span></button>
    <button type="button" class="button circle arrow-right"><span class="sr-only">다음 버튼</span></button>

    <button type="button" class="button circle gray arrow-left"><span class="sr-only">이전 버튼</span></button>
    <button type="button" class="button circle gray arrow-right"><span class="sr-only">다음 버튼</span></button>
  </body>
</html>
