<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나이키 상품 위시리스트</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <meta name="description" content="나이키 위시리스트 페이지 (상업용X)" />
    <meta name="author" content="UI Project Team3" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="./style/wishList.css" />
    <script type="module" src="../components/common/js/layout.js"></script>
  </head>
  <body>
    <header id="header"></header>
    <a href="../../index.html">메인 페이지 이동</a>
    <br />
    <h1>나이키 상품 컴포넌트</h1>

    <!-- 상품 컴포넌트 -->
    <div class="item-card">
      <!-- svg파일 webp로 수정 -->
      <img src="./../assets/images/product-picture.webp" alt="나이키 줌 보메로 5" />

      <div class="container">
        <div class="product-info">
          <h3 class="product-name">나이키 줌 보메로 5</h3>
          <p class="product-kinds">남성 신발</p>
        </div>
        <data class="product-price" value="189,000">189,000 원</data>
      </div>

      <button class="shopping-cart" type="button" aria-label="장바구니">장바구니에 추가</button>
    </div>
    <footer id="footer"></footer>
  </body>
</html>
