<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main-page components</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="./style/buttons.css" />
    <link rel="stylesheet" href="./style/main-page.css" />
  </head>
  <body>
    <a href="/index.html">메인 페이지 이동</a>
    <br />
    <h1>main-page-component</h1>
    <h2>홍보카드 컴포넌트</h2>
    <article class="promo-card">
      <figure class="media">
        <img src="../../src/assets/images/main-page/img-promo-collaboJac.svg" alt="Serena Williams wearing the Nike × Jacquemus collection" />
      </figure>
      <header class="content">
        <p class="add-explanation">새로운 컬렉션</p>
        <h1 class="title">나이키 X 자크뮈스</h1>
        <p class="subtitle">세련된 실루엣과 감각적인 컬러가 조화를 이루는 나이키 X 자크뮈스 컬렉션은 스포츠웨어에 새로운 변화를 불러일으킵니다.</p>
        <a href="#" class="btn fill">컬렉션 구매하기</a>
      </header>
    </article>
    <br />
    <h2>특징카드 컴포넌트</h2>

    <article class="feature-card">
      <figure class="media">
        <a href="#">
          <img src="../../src/assets/images/main-page/img-featured-metcon9-mobile.png" alt="나이키 메트콘 9 트레이닝화" />
        </a>
      </figure>
      <header class="feature-card__info">
        <a href="#"><h2 class="feature-card__name">나이키 메트콘 9</h2></a>
        <a href="#" class="btn fill">구매하기</a>
      </header>
    </article>

    <br />
    <h2>특징카드 컴포넌트</h2>

    <article class="category-card">
      <figure class="media">
        <a href="#">
          <img src="../../src/assets/images/main-page/img-trandingNow-mad.png" alt="나이키 메트콘 9 트레이닝화" />
        </a>
      </figure>
      <header class="category-card__info">
        <a href="#"><h2 class="category-card__name">매드 앰비션 팩</h2></a>
        <a href="#" class="btn fill">구매하기</a>
      </header>
    </article>
  </body>
</html>
