<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="나이키 프로젝트 실습용 상품 상세 컴포넌트 페이지입니다." />
    <meta name="author" content="UI Project Team3" />
    <title>나이키 상품 상세 컴포넌트</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="./style/product-detail-component.css" />
    <script type="module">
      import { accrodionFunction } from './common/js/accrodion.js';

      accrodionFunction();
    </script>
  </head>
  <body>
    <a href="/index.html" class="button circle home"><span class="sr-only">메인 페이지 이동</span></a>
    <br />
    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">평점 컴포넌트</h1>

        <!-- 평점 -->
        <div class="star-rating" aria-hidden="true">
          <span class="star fill"></span>
          <span class="star fill"></span>
          <span class="star fill"></span>
          <span class="star"></span>
          <span class="star"></span>
        </div>
        <span class="sr-only">만점 5점에 평점 3점</span>
        <!-- // 평점 -->
      </div>
    </div>
    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">비순차 목록 컴포넌트</h1>

        <!-- 비순차 목록 -->
        <ul class="dot-list">
          <li>비순차 목록 컴포넌트입니다.</li>
          <li>비순차 목록 컴포넌트입니다.</li>
          <li>비순차 목록 컴포넌트입니다.</li>
          <li>비순차 목록 컴포넌트입니다.</li>
        </ul>
        <!-- // 비순차 목록 -->
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">작은 썸네일 슬라이드 이미지 컴포넌트</h1>

        <!-- 작은 썸네일 슬라이드 이미지 -->
        <div class="image-carousel">
          <ul>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small01.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small01.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small01.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">왼쪽 옆면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small02.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small02.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small02.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">밑면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small03.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small03.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small03.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">오른쪽 옆면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small04.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small04.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small04.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">윗면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small05.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small05.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small05.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">사선 앞모습</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small06.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small06.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small06.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">사선 뒷모습</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small03.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small03.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small03.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">초근접 윗면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-small04.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-small04.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-small04.jpg" alt="나이키 잼 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">초근접 오른쪽 밑면</figcaption>
              </figure>
            </li>
          </ul>
          <span class="mask-box"></span>
        </div>
        <!-- // 작은 썸네일 슬라이드 이미지 -->
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 상세 썸네일 큰 이미지 컴포넌트</h1>

        <!-- 상품 상세 썸네일 큰 이미지 -->
        <div class="big-thumbnail-box">
          <span class="star-badge"><span class="icon-star"></span>평점 높음</span>
          <figure>
            <picture>
              <source srcset="../assets/images/product-detail-page/img-nike-jam.avif" type="image/avif" />
              <source srcset="../assets/images/product-detail-page/img-nike-jam.jpg" type="image/jpeg" />
              <img src="../assets/images/product-detail-page/img-nike-jam.jpg" alt="나이키 잼 신발" />
            </picture>
            <figcaption class="sr-only"></figcaption>
          </figure>
          <div class="carousel-box" aria-label="제품 이미지 슬라이드">
            <button type="button" class="button circle arrow-left"><span class="sr-only">이전 이미지</span></button>
            <button type="button" class="button circle arrow-right"><span class="sr-only">다음 이미지</span></button>
          </div>
        </div>
        <!-- // 상품 상세 큰이미지 -->
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 정보 컴포넌트</h1>

        <!-- 상품 정보 -->
        <div class="product-info-box">
          <p class="pro-badge">친환경 소재</p>
          <h2 class="pro-title">나이키 잼</h2>
          <p class="pro-sub-title">여성 신발</p>
          <p class="pro-price">139,000 원</p>
        </div>
        <!-- // 상품 정보 -->
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 색상 종류 정보 컴포넌트</h1>

        <!-- 상품 색상 종류 정보 -->
        <div class="product-color-box">
          <ul>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-brown.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-brown.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-brown.jpg" alt="나이키 잼 갈색 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">오른쪽 옆면</figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <button type="button">
                  <picture>
                    <source srcset="../assets/images/product-detail-page/img-product-black.avif" type="image/avif" />
                    <source srcset="../assets/images/product-detail-page/img-product-black.jpg" type="image/jpeg" />
                    <img src="../assets/images/product-detail-page/img-product-black.jpg" alt="나이키 잼 검은색 신발" />
                  </picture>
                </button>
                <figcaption class="sr-only">오른쪽 옆면</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 사이즈 종류 정보 컴포넌트</h1>

        <!-- 상품 사이즈 종류 정보 -->
        <div class="product-size-box">
          <ul>
            <li>
              <button type="button" class="button small square rouneded-size-4">220<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">225<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">230<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">235<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">240<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">245<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">250<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">255<span class="sr-only">사이즈</span></button>
            </li>
            <li>
              <button type="button" class="button small square rouneded-size-4">260<span class="sr-only">사이즈</span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 상세 버튼 컴포넌트</h1>

        <!-- 상품 상세 버튼 -->
        <div class="product-btn-box">
          <button class="button full fill" type="button">장바구니</button>
          <button type="button" class="button icon-left full"><span class="icon-heart"></span>위시리스트</button>
        </div>
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 회색 박스 문구 컴포넌트</h1>

        <!-- 회색 박스 문구 -->
        <div class="gray-box">
          <p>이 제품은 무게 기준 20% 이상 재생 소재를 사용해 제작되었습니다.</p>
        </div>
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 상세 정보 보기 텍스트 링크 컴포넌트</h1>

        <!-- 상품 상세 정보 보기 텍스트 링크 -->
        <a href="/" class="text-link-button" target="_self">상품 상세 정보 보기</a>
      </div>
    </div>

    <div class="component-wrapper">
      <div class="component-box pro-detail-component">
        <h1 class="component-title">상품 상세 정보 아코디언 컴포넌트</h1>

        <!-- 상품 상세 정보 아코디언 -->
        <div class="product-detail-accordion-wrapper">
          <ul class="accrodion-list">
            <li>
              <button type="button" class="btn-accrodion btn-arrow" aria-expanded="false">무료 배송 및 반품</button>
              <div class="detail-accrodion">아코디언 내용</div>
            </li>
            <li>
              <button type="button" class="btn-accrodion btn-arrow" aria-expanded="false">제작 과정</button>
              <div class="detail-accrodion">아코디언 내용</div>
            </li>
            <li>
              <button type="button" class="btn-accrodion btn-arrow" aria-expanded="false">
                리뷰 (20)
                <span class="star-rating" aria-hidden="true">
                  <span class="star fill"></span>
                  <span class="star fill"></span>
                  <span class="star fill"></span>
                  <span class="star"></span>
                  <span class="star"></span>
                </span>
                <span class="sr-only">만점 5점에 평점 3점</span>
              </button>
              <div class="detail-accrodion">아코디언 내용</div>
            </li>
            <li>
              <button type="button" class="btn-accrodion btn-arrow" aria-expanded="false">추가 정보</button>
              <div class="detail-accrodion">
                <p>상품정보제공고시</p>
                <ul class="dot-list">
                  <li>제조연월: 수입제품으로 각 제품별 입고 시기에 따라 상이하여 정확한 제조연월 제공이 어렵습니다. 제조연월을 확인하시려면 고객센터에 문의하시기 바라며, 정확한 제조연월은 배송받으신 제품의 라벨을 참고하시기 바랍니다.</li>
                  <li>A/S 책임자와 전화번호: (유)나이키코리아 온라인 스토어 고객센터 / 080-022-0182</li>
                  <li>세탁방법 및 취급시 주의사항: 자세한 내용은 '<a href="/" class="text-underline" target="_self">자세히 보기</a>'를 클릭하여 확인 부탁드립니다.</li>
                  <li>미성년자 권리 보호 안내: 자세한 내용은 '<a href="/" class="text-underline" target="_self">자세히 보기</a>' 를 클릭하여 확인 부탁드립니다.</li>
                  <li>품질보증기준: 품질보증기간-섬유 및 일반 소재(구입 후 6개월), 가죽소재(구입 후 1년). 유통 중 손상되었거나 품질에 이상이 있는 제품에 한하여 소비자 피해 보상 규정에 의거 보상하여 드립니다. 단, 제품에 부착되어 있는 사용방법 및 취급 시 주의사항에 따라 제품을 관리해 주시고, 소비자 부주의로 인한 품질 이상 및 변형에 대해서는 책임을 지지 않습니다.</li>
                  <li>제조자/수입품의 경우 수입자를 함께 표기: Nike. Inc / (유)나이키코리아</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- // 아코디언 컴포넌트 -->
      </div>
    </div>
  </body>
</html>
