<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FindStore Page map</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../common/index.css" />
    <link rel="stylesheet" href="./findstore-map.css" />
  </head>
  <body>
    <a href="/index.html">메인 페이지 이동</a>
    <br />
    <h1>FindStore Page map</h1>
    <br />

    <div class="map-wrapper">
      <button type="button" aria-label="지도 보기 버튼">Map</button>
      <div class="findstore-map-bg" role="img" aria-label="Nike 매장 지도 보기"></div>
    </div>
  </body>
</html>
