<!-- 데스크탑 헤더 -->
<div class="main-header">
  <ul class="main-menu">
    <li class="main-menu-item"><a class="main-menu-link" href="../../../src/page/findstore.html">매장 찾기</a></li>
    <li class="main-menu-item customer-item">
      <a class="main-menu-link" href="../../../src/page/customer-service.html">고객센터</a>
      <ul class="sub-menu">
        <li class="sub-menu-item">
          <a href="../../../src/page/customer-service.html">고객센터</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">주문</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">로그인 안내</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">결제 방법</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">배송</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">반품</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">사이즈 가이드</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">문의 하기</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">개인정보처리방침</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">이용약관</a>
        </li>
        <li class="sub-menu-item">
          <a href="/">이벤트</a>
        </li>
      </ul>
    </li>
    <li class="main-menu-item"><a class="main-menu-link" href="../page/signup.html">가입하기</a></li>
    <li class="main-menu-item"><a class="main-menu-link" href="../page/signin.html">로그인</a></li>
  </ul>
</div>
