<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ItemList Page Card</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../common/index.css" />
  </head>
  <body>
    <a href="/index.html">메인 페이지 이동</a>
    <br />
    <h1>ItemList Page Card</h1>
    <br />

    <a href="/" aria-label="나이키 줌 보메로 5 상세페이지로 이동">
      <figure class="itemlist-card">
        <picture>
          <source srcset="../../assets/images/item-image/shoes01.avif" type="image/avif" />
          <img src="../../assets/images/item-image/shoes01.png" alt="나이키 줌 보메로 5 여성 신발" />
        </picture>
        <figcaption class="card-description">
          <p class="badge">신제품</p>
          <h3 class="product-name">나이키 줌 보메로 5</h3>
          <p class="product-subtitle">여성 신발</p>
          <p class="product-color">1개 색상</p>
          <p class="product-price">209,000 원</p>
        </figcaption>
      </figure>
    </a>
  </body>
</html>
