<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ItemCard Component</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../common/index.css" />
    <style>
      body {
        margin: 50px;
      }
    </style>
  </head>
  <body>
    <a href="/index.html" class="button circle home"><span class="sr-only">메인 페이지 이동</span></a>
    <br />
    <h1 class="component-h1-title">ItemCard Component</h1>

    <a href="/" aria-label="나이키 줌 보메로 5 상세페이지로 이동">
      <figure class="itemlist-card">
        <!-- 상품 이미지 -->
        <picture>
          <source srcset="../../assets/images/item-image/shoes01.avif" type="image/avif" />
          <img src="../../assets/images/item-image/shoes01.png" alt="나이키 줌 보메로 5 여성 신발" />
        </picture>
        <!-- 상품 상세  -->
        <figcaption class="card-description">
          <p class="badge">뱃지</p>
          <h3 class="product-name">상품 이름</h3>
          <p class="product-subtitle">서브 타이틀</p>
          <p class="product-color">색상</p>
          <p class="product-price">가격</p>
        </figcaption>
      </figure>
    </a>
  </body>
</html>
