<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="나이키 프로젝트 실습용 아코디언 컴포넌트 페이지입니다." />
    <meta name="author" content="UI Project Team3" />
    <title>나이키 아코디언 컴포넌트</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../common/index.css" />
    <link rel="stylesheet" href="../common/css/product-item.css" />
    <script></script>
    <style type="module"></style>
  </head>
  <body>
    <a href="/index.html" class="button circle home"><span class="sr-only">메인 페이지 이동</span></a>
    <br />
    <h1 class="component-h1-title">공통 컴포넌트_상품</h1>
    <div class="component-wrapper">
      <div class="component-box product-item-component">
        <h1 class="title">Product-Item 컴포넌트</h1>
        <!-- Product-Item 컴포넌트 -->

        <!-- // Product-Item 컴포넌트 -->
      </div>
    </div>
  </body>
</html>
