body {
  font-family: 'Pretendard', sans-serif;
  background-color: var(--white);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

.text-underline {
  text-decoration: underline;
}

/* mobile일 경우만 보이는 속성 */
.mo-block {
  display: block;

  @media (width >= 40rem) {
    display: none;
  }
}

/* pc일 경우만 보이는 속성 */
.pc-block {
  display: none;

  @media (width >= 40rem) {
    display: block;
  }
}
